* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
body {
  background: black;
  margin: 0;
}

canvas {
  width: 1024px;
  height: 576px;
}

button {
  position: relative;
  z-index: 9999 !important;
}

.trakteer-btn {
  display: inline-block;
  padding: 12px 24px;
  background: linear-gradient(135deg, #ff416c, #ff4b2b);
  color: rgb(0, 0, 0);
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 1;
  white-space: nowrap;
  border-radius: 8px;
  text-decoration: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.trakteer-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}
